li{
    font-size: 30px;
    color: rgb(56, 62, 249);
    margin: 0 0 10px 30px; 
}
ol{
    font-size: 18px;
    font-style: italic;
}
h1{
    color: Red;

}
H2{
    color: red;
    font-size: 25px;
}